{{- $section1 := .Site.Params.section1 }}
{{- $title := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles := index $section1 "tiles" }}
<section class="section section-feature-grey is-medium" id="section1">

  <div class="swiffy-slider slider-item-show3 slider-nav-outside slider-nav-visible slider-nav-caretfill slider-item-reveal slider-nav-animation slider-nav-animation-appear">
    <div id="carousel-products" class="slider-container">
        {{- range $k, $v := $tiles }}
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>{{ $k }} {{ .title }}</h4>
            </div>
            <div class="card-icon">
              <img src="{{ printf "images/icons/%s" .icon | relURL }}">
            </div>
            <div class="card-text">
              <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>

        {{- end }}
    </div>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

      {{/*      <div class="slider-indicators">*/}}
      {{/*        <button class="active"></button>*/}}
      {{/*        <button></button>*/}}
      {{/*        <button></button>*/}}
      {{/*      </div>*/}}
  </div>


  <button onclick="scrollTest()" class="button is-primary">Primary</button>
  <!--
    <div class="container">
      <div class="columns">
          {{- range $tiles }}
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1"
                   data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>{{ .title }}</h4>
                </div>
                <div class="card-icon">
                  <img src="{{ printf "images/icons/%s" .icon | relURL }}">
                </div>
                <div class="card-text">
                  <p>{{ .text }}</p>
                </div>
                <div class="card-action">
                  <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
                </div>
              </div>
            </div>
          {{- end }}
      </div>
    </div>
-->
</section>
{{/**/}}
{{/*<div class="columns is-vcentered is-mobile is-centered">*/}}
{{/*  <div class="column is-8 has-background-info has-text-centered ">*/}}
{{/*    <p class="bd-notification is-primary">First column</p>*/}}
{{/*  </div>*/}}
{{/*  <div class="column has-background-info is-justify-content-center">*/}}
{{/*    <p class="bd-notification is-primary is-centered">*/}}
{{/*      Second column with more content. This is so you can see the vertical*/}}
{{/*      alignment.*/}}
{{/*    </p>*/}}
{{/*  </div>*/}}
{{/*</div>*/}}

<script>

    function scrollTest() {
        const slider1 = document.querySelector(".swiffy-slider");
        const container = slider1.querySelector(".slider-container");
        const firstEl = container.firstElementChild;
        const lastEl = container.lastElementChild;


        const scrollPosition = container.scrollLeft; // Store scroll position


        if (firstEl !== undefined && firstEl !== null ) {
            const clone2move = firstEl.cloneNode(true);

            container.appendChild(clone2move);

            container.addEventListener("scrollend", (event) => {
                // Action to be performed after scrolling has stopped
                container.removeChild(firstEl);
                console.log('Scrolling ended!');
            });

            container.scrollLeft += 300;
            // container.scrollBy({
            //     left: 300,
            //     behavior:  "smooth"
            // });

           requestAnimationFrame(() => {
              firstEl.classList.add('visible');
               container.style.opacity = 1;
           });


        }
    }

    // document.addEventListener('DOMContentLoaded', function () {
    //     // Your script code here
    //    bulmaCarousel.attach('#carousel-products', {
    //        slidesToScroll: 1,
    //        slidesToShow: 1,
    //        infinite: true,
    //        pagination: true,
    //        cardwidth: 300
    //    });
    // });

</script>